.search-page{
  height: 100%;
  overflow: auto;
  .search-box{
    padding: 20px 100px;
    display: flex;
    align-items: center;
    .search-input{
      flex: 1;
    }
    .question-icon{
      color: @primary-color;
      font-size: 16px;
      padding-left: 10px;
    }
  }
  span.active{
    color: @primary-color;
    background: lighten(@primary-color, 20%);
  }
  .breadcrumb{
    padding: 0 100px;
    display: flex;
    align-items: center;
    .back-icon{
      font-size: 20px;
      margin-right: 10px;
    }
  }
  h1,h3{
    margin: 0;
  }
  .search-results-wrapper{
    .search-result-row{
      padding: 10px 100px;
    }
  }
  .more{
    text-align: center;
    padding: 10px;
  }
}
